.backgrounds {
  width: 100%;
  background-color: #fcecff;
}
.content-App {
  width: 80%;
  margin: auto;
  height: 200vh;
  opacity: 0.9;
  background-color: #fcecff;
}

.products {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 10px;
}

@media screen and (max-width: 1080px) {
  .content-App {
    width: 100%;
  }
  .textproducts {
    width: 80%;
    font-size: 16px;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  .products {
    display: block;
    padding-top: 50px;
  }
}
