.wavebox {
  width: 100%;
  position: relative;
}

.wavebox p {
  font-family: montserrat;
  font-size: 24px;
  text-align: center;
}

.wavebox p span {
  font-weight: 600;
  color: #a41fbe;
}

.textwave {
  z-index: 100;
  margin-top: 3%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 30%;
}

.textproducts {
  position: relative;
  top: -10%;
  font-size: 24px;
  text-align: center;
}

.textproducts span {
  color: #a41fbe;
  font-weight: bold;
}

@media screen and (max-width: 1414px) {
  .textwave {
    font-size: small;
    top: 40%;
  }
}

@media screen and (max-width: 991px) {
  .wavebox p {
    font-size: 13px;
  }
  .textwave {
    transform: translate(-50%, 50%);
    width: 70%;
  }
}
