.wavebox {
  width: 100%;
}

.wavebox p {
  font-family: montserrat;
  font-size: 24px;
  text-align: center;
}

.wavebox p span {
  font-weight: 600;
  color: #a41fbe;
}

.textwave {
  margin-top: 3%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 30%;
}

@media screen and (max-width: 991px) {
  .wavebox p {
    font-size: 12px;
  }
  .textwave {
    transform: translate(-50%, 50%);
    width: 70%;
  }
}
